@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600;700&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font: 'Lato';
}
body {
    background-color: black;
    /* background-color: black; */
    color: #ffffff
}
h1, h2{
    font: bold 2em Bitter, serif;
    color: #C2995C;
    text-align: center;
}
.likeh1{
    font-weight: 700;
}
h3, .likeh3 {
    font: lighter 1.5em Lato, sans-serif;
}
h4 {
    font: bold 1.5em Bitter, serif;
    color: #C2995C;
}
li{
    list-style-type: none;
}
img{
    max-width: 100%;
}
a {
    text-decoration: none;
    color: white;
    
}
a:hover {
    font-weight: bolder;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex2{
    display: flex;
}
/* ____Header_____ */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: black
}


#mobileheader{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#mobileheader button{
    background: none;
    border: none;
}
#mobileheader img{
    max-width: 180px;
}

#menu-toggle{
    display: none;
}
#burgermenu div{
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background-color: white;
    &:not(:first-child){
    margin: 8px 0;
    
}}

.header-links-mobile{
    display: none;
    height: 100vh;
    padding: 1em;
}
.showMenu {display: block}
.header-links-mobile li{
    text-align: center;
    font-size: 1.8em;
    margin-top: 1em;
}
.header{
    display: none;
}

/* Main______________________ */
article{
    display: block;
    padding: 2em 0;
    margin: 50px 0;
}
.wrapper{
    padding-left: 15px;
    padding-right: 15px;
}
/* ---------- page styling ---------- */
.page {
    display: none;
    /*min heigh is screen heigh minus height of tab and top bar */
    min-height: calc(100vh - 110px);
    /* padding equals height of tabbar and topbar */
    padding: 80px 0;
  }

/* Cover image on index.html */
.index-cover{
    display: block;
    background-image: url("../image/front2.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 85vh;
    height: 90%;
}
#main-reverb-recommends{
    margin: 0 auto;
    text-align: center;
}
.index-albums{
    display: block;
    margin-bottom: 50px;
}
.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    /* margin: 1em; */
}
.album {
    display: block;
    /* width: 23%; */
    /* padding: 2em 1em; */
    text-align: left;
}
.album img{
    width: 100%;
    height: auto;
}
.album-title {
    display: block;
    font: 16px Lato, sans-serif;
    font-weight: 600;
    padding-bottom: 2px;
}
.artist-title {
    font: 16px Lato, sans-serif;
}
.main-btn{
    margin-top: 50px;
    padding: 15px 35px;
    font: bold 20px Bitter, serif;
    background-color: #C2995C;
    color: #0F0F0F;
}
/* Index banner */
#index-banner{
    display: block;
    background-image: url("../image/ben1-1.webp");
    background-size: cover;
    text-align: center;
    padding: 5em 0;
}
#index-banner img{
    max-width: 150px;
}

#index-banner-contents strong{
    font: bold 1.4em Bitter, serif;
}
#index-banner-contents p{
    font-size: 1em;
    
}
#index-banner-contents div{
    margin-bottom: 20px;
}
/* Who are we? */
#reverb-vinyl-index-contents div{
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}
#reverb-vinyl-index-contents p{
    margin: 10px 0 30px;
}
/* Hip hop classics */
#hiphop-classics{
    margin: 0 auto;
    text-align: center;
}
.recordsIndexNew{
    margin-bottom: 50px;
}

/* ______Records Page_______ */
#filterByGenre {
    font-size: 1.1em;
    padding: 10px 8px;
    margin:5px 0 20px;
    width: 100%;
    min-width: 50%;
    color: white;
    background-color: #0F0F0F;
    border: solid white 5px;
}
#filterByGenre option {
    font-size:1.2em
}
#searchRecords{
    display: block;
    font-size: 1.1em;
    padding: 10px 8px;
    margin:20px 0 5px;
    width: 100%;
    /* color: white;
    background-color: #0F0F0F; */
    /* border: solid white 5px; */
}
/* ______About page________ */
#about {
    display: block;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

#about p {
    font-weight: 300;
    margin: 20px 50px 30px;
}
#about img{
    max-width: 750px;
    width: 100%;
}

/* ______Contact page________ */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #C2995C;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }

/* ______Detail View________ */
#detailView h1{
    text-align: left;
}

.detailWrapper p {
    margin: 15px 0;
    line-height: 1.3em;
    font-weight: 300;
}
#detailAll h3{margin-bottom: 8px;}

#detailView img {margin: 10px 0;}

.detailWrapper strong{
    font-size: 1.1em;
    font-weight: 700;
}

.detailWrapper{margin: 0 15px;}

#detailPrice{
    font-size: 1.8em;
    margin: 0.5em 0 0.5em;
    font-weight: 400;
}
.red {color: red;}

.regular{font-weight: 300;}

.green {color: lightgreen;}

/* Product details/tracklist section */

#albumDetailsContainer{
    margin: 50px 0 20px;
    width: 100%;
    display: flex;
}
#albumtitledetail{
    margin-bottom: 10px;
}
.active2{
    font: bold;
    font-size: 1.5em;
}
#albumDetailsContainer button{
    width: 50%;
    padding: 1em;
    font-size: 1.1em;
    color: white;
    background-color: transparent;
}
.leftButton{
    border: 2px solid white;
    border-style: none solid solid none ;
}
.rightButton{
    border: 2px solid white;
    border-style: none none solid none;
}

#productGrid {
    display: grid;
    grid-template-columns: 85px 1fr;
    gap: 0.8em 1em;
}
#productGrid p{
    margin: 0;
    &:nth-child(odd){
        font-weight: 500;
    }
}
#tracklist p{
    font-weight: 500;
}

#productDetails{
    display: none;
}
#detailView h2{
    margin-top: 50px;
    /* color: white; */
}
/* Footer */
.footer p{
    margin-bottom: 8px;
}
.footer ul li{
    padding: 7px 0;
}
.gridcontainer2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin: 1em;
}
#map {
    height: 100%;
}
.footer-section iframe{
    max-width: 280px;
    max-height: 200px;
}
.footer-section img{
    max-width: 280px;
    max-height: 200px;
}
.footer-section{
    /* width: 100%; */
    margin: 0 auto;
    text-align: center;
    padding: 6% 0;
}
#openinghours {
    display: flex;
}
#openinghours div {
    text-align: left;
}
.margin-right{
    margin-right: 2em;
}
  @media (min-width: 768px) {
    /* Header */
    .header{
        padding: 30px 10px 10px;
        display: flex;
        justify-content: space-between;
        color:#ffffff;
        
    }
    .header img{
        max-width: 250px;
    }
    .header-links{
        display: flex;
    }
    .header-links a{
        display: block;
        padding: 20px 0 20px 30px;
        color:#ffffff;
        font: 22px Lato, sans-serif;
    }
    .header-links a:hover{
        font-weight: bolder;
    }
    #mobileheader{
        display: none;
    }
    /* Pages */
    .page{
        padding: 120px 0 60px;
    }
    article{
        display: block;
        padding: 5em 0;
    }
    .gridcontainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    h1, h2 {
        font-size: 3em;
    }
 
    .gridcontainer2{
        grid-template-columns: 1fr 1fr;
    }
    .footer-section{
        /* width: 100%; */
        margin: 0 auto;
        text-align: justify;
        padding: 50px 0;
    }
    /* Front page */
    #index-banner-contents{
        display: flex;
        justify-content: space-between;
    }
    #reverb-vinyl-index-contents{
        display: flex;
        justify-content: space-between;
    }
    #reverb-vinyl-index img{
        width: 60%;
    }
    #reverb-vinyl-index-contents div{
        width: 38%;
        font-size: 1.6em;
    }
    /* Records */
    #filterByGenre {
        font-size: 1.2em;
        padding: 13px 10px;
        margin-bottom: 10px;
        width: 100%;
        min-width: 25%;
    }
    #searchRecords{
        display: block;
        font-size: 1em;
        padding: 10px 8px;
        margin:20px 0 5px;
        width: 30%;
        
        /* color: white;
        background-color: #0F0F0F; */
        border: solid white 5px;
    }
    .filterandsearchcontainer{
        display: flex;
        justify-content: space-between;
    }
    /* Detail */
    .detailWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        align-items: start;
    }
    /* About */
    #about p {
        font-size: 1.2em;
        line-height: 1.2;
    }
  }
  @media (min-width: 1080px) {
    .album-title {
        display: block;
        font-size: 20px;
        padding-bottom: 3px;
    }
    .artist-title {
        font-size: 18px;
    }
    #index-banner-contents strong{
        font: bold 1.8em Bitter, serif;
    }
    #index-banner-contents p{
        font-size: 1.4em;
    }
    #index-banner img{
        max-width: 200px;
    }
    /* #filterByGenre {
        width: 30%;
    } */

    .detailWrapper img{
        width: 100%;
    }

    #albumDetailsContainer{
        width: 80%;
    }
    /* Footer */
    .footer ul li{
        padding: 4px 0;
    }
  }
  
  @media (min-width: 1280px) {
    .wrapper{
        max-width: 1260px;
        margin: 0 auto;
    }
    .page{
        margin: 0 auto;
    }
    .gridcontainer{
       margin: 10px 0;
    }
    .gridcontainer2{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #index-banner img{
        max-width: 225px;
    }
    /* .detailWrapper{
       margin: 0 auto; 
       max-width: 1260px;
    } */
    .recordsIndexNew{
        margin-bottom: 50px;
    }
  }